// Login Page styles
// --------------------


#content {
	display: block;
	.font1(22px);

	h1 {
		.font2-bold(30px);
	}

	#body {
		background-color: @appColor1;
		padding: 10px;
		margin: 10px;
		// border-radius: 10px;

		@media only screen and (orientation: landscape) {
			.accept {
				.button-gradient(@appColor1, @appColor2);
			}
		}
	}
}